<% content_for :sidebar do %>
  <div class="m-4">
    Sidebar Content
  </div>
  <ul class="flex flex-col gap-4 m-4">
    <a href="/dialog" data-turbo-frame="dialog" class="bg-slate-400/80 cursor-pointer">Main</a>
    <a href="/dialog" data-turbo-frame="dialog" class="bg-slate-400/80 cursor-pointer">Settings</a>
    <a href="/dialog" data-turbo-frame="dialog" class="bg-slate-400/80 cursor-pointer">Options</a>
    <a href="/dialog" data-turbo-frame="dialog" class="bg-slate-400/80 cursor-pointer">Other Stuff</a>
  </ul>
<% end %>

<% content_for :main do %>
  <div class="m-4">
    Main Content
  </div>
  <ul id="main-content-list" class="flex flex-row flex-wrap gap-4 m-4" data-turbo-permanent>
    <% (99.. 200).to_a.sample.times do |n| %>
      <a
        href="/dialog"
        data-turbo-action="advance"
        data-turbo-frame="dialog"
        class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer"
      >
        &nbsp;
      </a>
    <% end %>
  </ul>
<% end %>

<% content_for :dialog do %>
  <%= turbo_frame_tag "dialog" %>
<% end %>
