<% content_for :sidebar do %>
  <div class="m-4">
    Sidebar Content
  </div>
  <ul class="flex flex-col gap-4 m-4">
    <button type="button" class="bg-slate-400/80 cursor-pointer">Main</button>
    <button type="button" class="bg-slate-400/80 cursor-pointer">Settings</button>
    <button type="button" class="bg-slate-400/80 cursor-pointer">Options</button>
    <button type="button" class="bg-slate-400/80 cursor-pointer">Other Stuff</button>
  </ul>
<% end %>

<% content_for :main do %>
  <div class="m-4">
    Main Content
  </div>
  <ul class="flex flex-row flex-wrap gap-4 m-4">
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
    <button type="button" class="h-40 w-40 border-2 bg-slate-400/80 cursor-pointer">&nbsp;</button>
  </ul>
<% end %>
