<%# well, yea this obviously has to be here.. %>
<%= turbo_frame_tag "dialog" do %>
  <a href="/" data-action="click->dialog#close" data-turbo-frame="dialog" class="cursor-pointer">
    this is dialog content
  </a>
<% end %>
